.buttons {
  width: 14%;
  display: flex;
  background-color: none;
  position: absolute;
  bottom: 29.1%;
  left: 52.3%;
  transform: translate(50%,0%);
 }

 .button {
  width: 42%;
  padding: 16%;
  border: none;
  font-size: clamp(1px,2vw, 10px);
  background-color: rgba(97, 12, 154, 0.0);
  font-weight: 600;
 }

 .button:active {
  background-color:rgba(240, 227, 227, 0.9);
  border: 1px solid rgba(122, 122, 122, 0.9);
  border-radius: 3px;
 }

 .butttons-arrow {
  background-color: rgba( 20, 25, 15, 0.0);
  position: absolute;
  width: 12%;
  height: 14.5%;
  left: 32.5%;
  bottom: 15.7%;
  display: block;
  
 
  
 }

 .divisor1 {
  position: absolute;
  background-color: rgba(47, 180, 54, 0.0);
  width: 100%;
  height: 30%;
  bottom: 1%;
}
 
.divisor2 {
  background-color: rgba(74, 45, 99, 0.0);
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 35%;
  
}
 
.divisor3 {
  position: absolute;
  background-color: rgba(230, 41, 72, 0.0);    
  width: 100%;
  height: 30%;
  
    }


 .button-seta {
  position: absolute;
  width: 44%;
  height: 44%;
  border: none;
  border-radius: 25%;
  background-color: rgba( 20, 25, 15, 0.0);
  }
  .button-seta:active {
    background: rgba( 20, 25, 15, 0.4);
  }

 .btn-rigth{
  width: 30%;
  height: 93%;
  left: 63%;
  bottom: 10%;
}

 .btn-left{
  width: 30%;
  height: 93%;
  left: 0%;
  bottom: 10%;
}

 .btn-up{
  width: 25%;
  height: 95%;
  left: 35%;
}


.btn-down{
  width: 24%;
  height: 93%;
  left: 34%;
  transform: rotate(6deg);
}

  .button-random{
    position: absolute;
    width: 6%;
    height: 6%;
    left: 8.1%;
    bottom: 24.4%;
  }

  .btn-random {
    color: white;
    font-weight: 600;
    font-size: clamp(1px,4vw, 18px);
    text-align: center;
    background-color: rgba(133, 196, 70, 0.0);
    width: 89%;
    height: 89%;
    border-radius: 50%;
    border: none;
  }

  .btn-random:active {
    color: rgb(89, 87, 87);
  }


  .button-light{
    background-color: rgba(240, 227, 227, 0.0);
    position: absolute;
    width: 4.4%;
    height: 5.3%;
    left: 86.1%;
    bottom: 27.6%;
  }

  .btn-light {
    
    background: none;
    color: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    
  }

  .btn-light:active {
    background: rgb(234, 234, 37);
    
  }