@import url('<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap" rel="stylesheet">');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, rgb(127,255,212),  rgb(201, 248, 232));
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 4%;
  
  position: relative;
}

.pokedex {
  
  width: 100%;
  max-width: 600px;
}

.pokemon_image {
  width: 16%;
  position: absolute;
  height: 16%;
  left: 17%;
  bottom: 45%;
  transform: translate(20%,5%);
}

.pokemon_data_number {
  width: 10%;
  position: absolute;
  left: 14%;
  bottom: 19%;
  transform: translate(35%,10%);
  color: rgb(66, 65, 65);
  font-weight: 700;
  font-size: clamp(5px,4vw, 25px);
}
 


.pokemon_data_name {
  width: 28%;
  position: absolute;
  left: 45%;
  bottom: 55.8%;
  transform: translate(60%,0%);
  color: rgb(75, 73, 73);
  font-weight: 600;
  text-transform: capitalize;
  font-size: clamp(8px,4vw, 22px);
  text-align: center;
 }

 .form {
  
  position: absolute;
  left: 58%;
  bottom: 16%;
  transform: translate(40%,0%);
  width: 33%;
  height: 8%;
  transform: rotate(1deg);
  
 }

 .input_search {
  width: 88%;
  height: 100%;
  border: 2px solid rgb(66, 65, 65);
  border-radius: 6px;
  background-color: rgba(82, 174 , 95);
  font-weight: 700;
  outline: none;
  font-size: clamp(5px,4vw, 18px);
  color: rgb(66, 65, 65);
  padding-left: 5%;
 }

 